---
title: gallery
layout: tataletak.njk
---
<html>
<body>
    <script type="text/javascript" src="/assets/js/lightbox-plus-jquery.min.js"></script>
    <h1>Gallery KKN ITERA</h1>
    <div class="gallery">
        <a href="/assets/images/images1.jpg" data-lightbox="mygallery" data-title="KKN ITERA 2019"><img src="/assets/images/images1.jpg"></a>
        <a href="/assets/images/images2.jpg" data-lightbox="mygallery" data-title="KKN ITERA 2019"><img src="/assets/images/images2.jpg"></a>
        <a href="/assets/images/images3.jpg" data-lightbox="mygallery" data-title="KKN ITERA 2019"><img src="/assets/images/images3.jpg"></a>
        <a href="/assets/images/images4.jpg" data-lightbox="mygallery" data-title="KKN ITERA 2019"><img src="/assets/images/images4.jpg"></a>
        <a href="/assets/images/images5.jpg" data-lightbox="mygallery" data-title="KKN ITERA 2019"><img src="/assets/images/images5.jpg"></a>
        <a href="/assets/images/images6.jpg" data-lightbox="mygallery" data-title="KKN ITERA 2019"><img src="/assets/images/images6.jpg"></a>
        <a href="/assets/images/images7.jpg" data-lightbox="mygallery" data-title="KKN ITERA 2019"><img src="/assets/images/images7.jpg"></a>
        <a href="/assets/images/images8.jpg" data-lightbox="mygallery" data-title="KKN ITERA 2019"><img src="/assets/images/images8.jpg"></a>
    </div>
</body>
</html>